.weddingContainer {
    display: flex;
    height: 100vh;
    padding: 60px 0;
}

.weddingLeft {
    flex: 4;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.leftInfo {
    position: absolute;
    top: -15px;
    right: -67px;
    padding: 20px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);
}

.leftInfo h3,
.centerInfo h3,
.rightInfo h3,
.topInfo h3,
.middleInfo h3,
.bottomInfo h3 {
    font-size: 18px;
    font-weight: 600;
}

.weddingCenter {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
}

.centerInfo {
    position: absolute;
    bottom: -20px;
    right: -67px;
    padding: 20px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);
}

.weddingRight {
    flex: 4;
    display: flex;
    align-items: flex-start;
    position: relative;
}

.rightInfo {
    position: absolute;
    top: -20px;
    left: -67px;
    padding: 20px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);
}

.weddingImage {
    width: 100%;
}

.weddingImage img {
    width: 100%;
    height: 70vh;
    box-shadow: 9px 9px 35px 0px rgba(0, 0, 0, 0.25);
}

.weddingInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.weddingInfo h1,
.weddingInfoRes h1 {
    font-weight: 600;
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.weddingInfo p,
.weddingInfoRes p {
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.weddingInfoRes p {
    margin: 10px;
}

.weddingInfo button,
.weddingInfoRes button {
    border-radius: 8px;
    background: #285998;
    padding: 7px 20px;
    color: white;
    font-size: 14px;
}

.weddingConRes {
    display: flex;
    padding: 60px 0 0;
    flex-direction: column;
}

.weddingInfoRes {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;
    padding: 20px 20px 0 20px;
}

.weddingImg {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.weddingImg img {
    width: 60%;
    height: 400px;
}

.topInfo,
.middleInfo,
.bottomInfo {
    position: absolute;
    padding: 20px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.10);
}

.topInfo {
    top: -30px;
    right: 60px;
}

.middleInfo {
    bottom: 150px;
    left: 10%;
}

.bottomInfo {
    bottom: -30px;
    left: 50%;
}

@media screen and (max-width: 500px) {

    .topInfo,
    .middleInfo,
    .bottomInfo {
        padding: 17px;
    }

    .topInfo h3,
    .middleInfo h3,
    .bottomInfo h3 {
        font-size: 15px;
    }

    .weddingImg img {
        height: 300px;
    }
}