.landContainer {
    background: url("../../../public/images/landMain/landingpage_bg.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.landLogo {
    z-index: 1;
    width: 284px;
    height: 255.453px;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 284px;
    height: 255.453px;
    opacity: 0;
    transition: opacity 2s ease-in-out; 
}

.visible {
    opacity: 1;
} */

.landHeading {
    visibility: hidden;
    color: white;
    font-weight: 600;
    line-height: normal;
    font-size: 25px;
    font-style: normal;
}

.landInfo {
    color: white;
    visibility: hidden;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    padding: 0 15%;
    font-weight: 400;
}

.fade-in {
    visibility: visible;
    animation: fadeInContent 1s ease-in-out;
}

@keyframes fadeInContent {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.btn button {
    padding: 6px 30px;
    border-radius: 8px;
    background: #285998;
    font-size: 16px;
    color: #e9e9e9;
    font-weight: 400;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    .landLogo {
        width: 200px;
        height: 200px;
    }

    .landHeading h1 {
        font-size: 2.1rem;
    }

    .landInfo p {
        font-size: 0.9rem;
    }
}